<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453711858933-12unshpuooij5l8bvhpf7upt0flk9onv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453711858933-12unshpuooij5l8bvhpf7upt0flk9onv</string>
	<key>API_KEY</key>
	<string>AIzaSyBVnXi71YODKXhHujjVYBpqg0BsUthXVAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453711858933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-app-d55d4</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-d55d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453711858933:ios:70b25a97c71a00c7a909bc</string>
</dict>
</plist>